/* Base Common */
*{font-family: NanumSquareOTFB;}

html, body{
	margin: 0;
	padding: 0;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.inline-content>*{
	display: inline-block;
	vertical-align: top;
}
/* Common Body */
.highlight{
	color: #ff5859;
	font-weight: bold;
}
.container{
	width: 100%;
}
.row-label{
	height: 50px;
 	background-color: #4d535e;
  	
  	color: #fff;
}
.row-label>h4{
	line-height: 50px;
	font-size: 20px;
	margin: 0;
	font-weight: bold;
}
.white_bg{
	background-color: #fff;
}
.grey_bg{
	background-color: #eeeff3;
}
.margin-t10{
	padding-top: 10px;
}
.margin-t20{
	padding-top: 20px;
}
.margin-b20{
	padding-bottom: 20px;
}
.margin-t40{
	padding-top: 40px;
}
.margin-b40{
	padding-bottom: 40px;
}
.margin-t80{
	padding-top: 80px;
}
.margin-b80{
	padding-bottom: 80px;
}
/* Specific Features in Body */
#nav-menu ul li #faq{
	color: #ff5859;
	font-weight: bold;
}

h1{
	margin-top: 14px;
	font-family: NanumSquareOTF;
  	font-size: 24px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	text-align: left;
  	color: #000000;
}
.faq-title{
	font-size: 55px;
	color: #ff5859;

}
#div-title{
	margin-top: 80px;
}
#div-tabpanel{
	padding-top: 1px;
}
.nav-tabs{
	margin-bottom: 0px;
	border-bottom: 0;
}
.nav-tabs>li{
	width: 20%;
}
.nav-tabs>li>a{
	font-size: 24px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	text-align: center;
  	color: #4c4c4c;
  	padding: 8px 0px;
  	margin: 0;
  	border: 0;
  	border-bottom: 1px solid #bababa;
}
.nav-tabs>li.active>a{
	padding-top: 8px;
	padding-bottom: 6px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-size: 24px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	text-align: center;
  	color: #ff5859;
    cursor: default;
    border-bottom: 4px solid #ff5859;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.panel-heading .collapsed{
	font-weight: normal;
	line-height: 1.6;
}
.panel-heading .collapsed span{
	color: #4c4c4c;
}
.panel-title span{
	color: #ff5859;
}
.panel-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 1.6;
}
.panel-title> .collapsed:hover > a,
.panel-title> a:hover{
	text-decoration: none;
}
.panel-group .panel+.panel {
    margin: 0;
}
.panel{
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 0;
	border-bottom: 1px solid #e1e1e3;
}
.panel-heading{
	padding: 0;

}
.panel-heading h4{
	padding: 20px 40px 20px 45px;
	cursor: pointer;
}
.panel-default>.panel-heading{
	color: #4c4c4c;
	background-color: #fff;
	border: 0;
}
.panel-body{
	padding: 20px 40px 20px 45px;
	background-color: #f5f5f7;
}
.panel-body div{
	line-height: 1.78;
	font-size: 18px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
}
/*****************/

@media only screen and (max-width:595px){

}

@media only screen and (max-width:767px){
	#div-title{
		margin-top: 30px;
	}
	#div-title>h1{
		text-align: center;
	}
	#div-title>h1:nth-child(2){
		margin-top: 11px;
	}
	.nav-tabs>li>a{
    	font-size: 15px;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	    font-size: 15px;
	}
	.panel-heading h4,
	.panel-body{
		padding: 20px 15px 20px 20px;
	}
}
@media only screen and (min-width:1200px){

}
