@CHARSET 'UTF-8';
@font-face{font-family:'NanumSquareOTFB'; 
src: url(./fonts/NanumSquareR.eot);
src:local('NanumSquareR'), 
url(./fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
url('./fonts/NanumSquareR.woff') format('woff')}
@font-face{font-family:'NanumSquareOTFBL'; 
src: url(./fonts/NanumSquareL.eot);
src:local('NanumSquareL'), 
url(./fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
url('./fonts/NanumSquareL.woff') format('woff')}
@font-face{font-family:'NanumSquareOTFBold'; 
src: url(./fonts/NanumSquareB.eot);
src:local('NanumSquareB'), 
url(./fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
url('./fonts/NanumSquareB.woff') format('woff')}
/* Header */
ul li a{
  color: #4a4a4a;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: transparent;
}
.highlight{
  color: #ff5859;
}
.text-bold{
  font-family: NanumSquareOTFBold;
  font-weight: normal
}
#head_container{	
	 height: 80px;
  	background-color: #ffffff;
  	margin-bottom: 0px;
}
#head_container .navbar{
  background-color: #fff;
  border-bottom: 1px solid rgb(225, 225, 233);
}
.navbar-header p{
  padding-top: 20px;
}
.navbar-header p,
.navbar-header p a{
  color: #FF575B;
  font-size: 12px;
}
.nav>li{
  display: inline-block;
}
.navbar {
	padding-top: 15px;
  border: none;
  margin-bottom: 0;
  border-bottom: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background: #fff; 
}
.navbar-right{
  margin-right: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: inherit;
  border-color: inherit;
}
#head_container #nav-menu .dropdown-menu{
  background-color: #fff;
}
.dropdown-menu{
  padding: 15px 0;
}
.dropdown-menu li{
  padding-top: 5px;
  padding-bottom: 5px;
}
#nav-menu li .font-white{
  color: #fff;
  background-color: transparent;
}
#nav-menu li .font-white:hover,
#nav-menu li .font-white:active,
#nav-menu li .font-white:focus{
  color: #fff;
  opacity: 0.7;
  background-color: transparent;

}
#nav-menu .dropdown-menu li .font-white:focus,
#nav-menu .dropdown-menu li .font-white:hover{
  color: #ff5859;
  opacity: 1;
}
#nav-menu li .font-red{
  color: #4a4a4a;
  background-color: transparent;
}
#nav-menu li .font-red:hover,
#nav-menu li .font-red:active,
#nav-menu li .font-red:focus{
  color: #4a4a4a;
  opacity: 0.7;
  background-color: transparent;

}
#nav-menu .dropdown-menu li .font-red:focus,
#nav-menu .dropdown-menu li .font-red:hover{
  color: #ff5859;
  opacity: 1;
}
.menu-icon{
  color: #ff5859;
  border: 1px solid #ff5859;
  padding: 8px 10px;
}
#nav-li-cleaning{
  margin-top: -15px;
  margin-right: -15px;
}
#nav-cleaning{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #ff5859;
  color: #fff;
}
#nav-menu #nav-cleaning:hover{
  font-family: NanumSquareOTFBold;
  font-weight: normal;
  opacity: 0.7;
}
.navbar.scrolled {
  background: #FF575B; 
}
/*.navbar * {
  background: transparent; }*/
.navbar .navbar-header .navbar-brand {
  padding-top: 20px;
  color: #ffffff;
  font-family: NanumSquareOTFBold;
  font-weight: normal;
}
.navbar .navbar-header .navbar-toggle:hover, 
.navbar .navbar-header .navbar-toggle:focus {
  background: transparent; 
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #FF575B; 
}
.navbar .navbar-collapse ul.navbar-nav a {
  color: #4a4a4a;
	margin-left: 10px;
  padding-top: 15px;
}
.navbar .navbar-collapse ul.navbar-nav a:hover {
  color: #ff5859;
	font-family: NanumSquareOTFBold;
  font-weight: normal;
  opacity: 0.7;
}
.navbar .navbar-collapse ul.navbar-nav li.active a {
  background: transparent; 
}
.navbar .navbar-collapse ul.navbar-nav.navbar-right li {
  position: relative; 
}
  .navbar .navbar-collapse ul.navbar-nav.navbar-right li .img-circle {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-right: 5px; 
  }
.dropdown-menu{
  left: -72px;
}
@media (max-width: 1020px){
  #nav-home{
    display: none;
  }
}
@media (max-width: 950px) {
  .navbar-header p{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 840px) {
  .navbar .navbar-collapse ul.navbar-nav a{
    margin-left: 0;
  }
  .nav>li>a{
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding-top: 0;
    background: #ffffff; 
  } 
  .navbar .navbar-header .navbar-brand{
    padding-top: 18px;
    margin-left: 15px;
  }
  #head_container{
    height: 46px!important;
  }
  #head_container>nav{
    height: 46px!important;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggle{
    margin-top: 4px;
    margin-bottom: 0;
    padding: 10px 10px;
  }
  #head_container #nav-menu{
    background-color: #fff;
    border-bottom: 1px solid rgb(225, 225, 233);
  }
  .navbar-nav{
    margin-bottom: 0;
  }
  #nav-menu ul li:last-child{
    border: 0;
  }
  .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
  }
  .container-fluid>.navbar-collapse{
    margin-right: 0;
    margin-left: 0;
  }
  #nav-menu ul li{
    width: 100%;
    border-bottom: 0;
  }
  #nav-menu .dropdown{
    padding: 0;
    border-bottom:0;
  }
  #head_container #nav-menu .dropdown-menu{
    padding: 0;
    background-color: #f5f5f7;
  }
  #nav-menu .dropdown .dropdown-menu li{
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #nav-menu ul li a{
    color: #4a4a4a;
    padding: 12px 20px;
    margin-left: 10px;
  }
  #nav-menu .dropdown-menu li a:focus, #nav-menu .dropdown-menu li a:hover{
    color: #ff5859;
    background: transparent;
    font-family: NanumSquareOTFBold;
    font-weight: normal;
  }
  #nav-li-cleaning{
    margin-top: 0px;
    margin-right: 0px;
    color: #000;
  }
  #nav-cleaning{
    background-color: #fff;
    color: #000;
  }
  #nav-menu.in #nav-cleaning:hover{
    font-family: NanumSquareOTFBold;
    font-weight: normal;
    opacity: 0.7;
  }
}
@media only screen and (max-width: 500px) {

}