/* Base Common */
*{font-family: NanumSquareOTFB;
letter-spacing: -0.2px;}

html, body{
	margin: 0;
	padding: 0;
	font-family: 'NanumSquareOTFB';
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: 'NanumSquareOTFB';
	margin: 0;
	padding: 0;
}
.choosuk-noti{
    color:blue;
}
input,textarea{
	font-weight: 400!important;
	font-family: 'NanumSquareOTFB';
	box-shadow: none;
	-webkit-box-shadow:none;
	color: #272727;
}
input[type="password"]{
	font-family: sans-serif;
}
::-webkit-input-placeholder {
	color: rgb(202, 202, 208)!important;
	font-weight: 100!important;
	font-family: NanumSquareOTFBL;
}
:-moz-placeholder {
	color: rgb(202, 202, 208)!important;
   opacity: 1;
   font-weight: 100!important;
   font-family: NanumSquareOTFBL;
}
::-moz-placeholder {
	color: rgb(202, 202, 208)!important;
   opacity: 1;
   font-weight: 100!important;
   font-family: NanumSquareOTFBL;
}
:-ms-input-placeholder {
	color: rgb(202, 202, 208)!important;
	font-weight: 100!important;
	font-family: NanumSquareOTFBL;
}
.form-control[readonly]{
	background-color: #fff;
	box-shadow: none;
	-webkit-box-shadow:none;
	-webkit-appearance: none;
	appearance:none;
}
.inline-content>*{
	display: inline-block;
	vertical-align: top;
}
/* Common Body */
.font-light{
	font-family: NanumSquareOTFBL;
}
.font-normal{
	font-family: NanumSquareOTFB;
}
.font-bold{
	font-family: NanumSquareOTFBold;
}
.highlight{
	color: #ff5859;
}
.container{
	width: 100%;
}
.text-center{
	text-align: center;
}
.row-label{
	height: 50px;
 	background-color: #4d535e;

  	color: #fff;
}
.row-label>h4{
	line-height: 50px;
	font-size: 20px;
	margin: 0;
	font-family: NanumSquareOTFBold;
	font-weight: normal;
}
.white_bg{
	background-color: #fff;
}
.grey_bg{
	background-color: #f9f9fa;
}
.margin-t10{
	padding-top: 10px;
}
.margin-t20{
	padding-top: 20px;
}
.margin-b20{
	padding-bottom: 20px;
}
.margin-t40{
	padding-top: 40px;
}
.margin-b40{
	padding-bottom: 40px;
}
.margin-t60{
	padding-top: 60px;
}
.margin-b60{
	padding-bottom: 60px;
}
.margin-t80{
	padding-top: 80px;
}
.margin-b80{
	padding-bottom: 80px;
}
.modal-body{
	padding-bottom: 0;
}
.modal-body .m-body-h1{
	line-height: 2;
	letter-spacing: -0.7px;
	text-align: center;
	color: #ff5a5f;
	margin-top: 45px;
	margin-bottom: 45px;
}
.modal-body .m-body-h1 > h1{
	font-family: NanumSquareOTFBold;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
.modal-body .m-body-p{
	font-family: NanumSquareOTFB;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.6;
	text-align: center;
	color: #272727;
	word-break: keep-all;
	padding: 0 20px;
}
.modal-btn {
    margin-top: 50px;
    width: 50%;
    height: 85px;
    font-family: NanumSquareOTFB;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 85px;
    text-align: center;
    float: left;
}
/* Specific Features in Body */
.banner{
	width: 100%;
  	height: 200px;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	-o-background-repeat: no-repeat;
	-mozila-background-repeat: no-repeat;
	background-position: center;
	-webkit-background-position: center;
	-o-background-position: center;
	-mozila-background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-mozila-background-size: cover;
}
.banner > a{
	width: 100%;
	height: 100%;
	float: left;
}
#regular_type{
	padding-top: 60px;
}
#r-calendar>p{
	margin:10px 0;
}
.font-discount{
	font-size: 24px;
	text-decoration: line-through;
	padding-left: 10px;
}
.form-control:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #ff5859;
}
.has-error .form-control,
.has-error .form-control:focus{
	border-color: #ff5859;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-control{
	height: 100px;
	font-size: 30px;
	padding: 25px 12px;
	font-family: 'NanumSquareOTFB';
	font-weight: normal;
	color: #272727!important;
	box-shadow: none!important;
	-webkit-box-shadow:none!important;
	-webkit-appearance: none;
	appearance:none;
}
textarea.form-control {
	padding-top: 16px;
	padding-bottom: 16px;
}
.title-once{
	background-color: #eeeef1;
	color: #9f9fa6;
	text-align: center;
}
.title-regular{
	background-color: #fdeced;
	color: #ff5859;
	text-align: center;
}
#div-regular-date{
	display: none;
}
#floating-info{
	background-color: #fff;
	height: 140px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 8;
	border-top: 1px solid rgb(255, 88, 89);
	box-shadow: 0 0 11.2px 1.8px rgba(0, 0, 0, 0.1);
}
#floating-info-body{
	height: 100%;
	padding: 16px 0;
	padding-left: 15px;
}
#floating-info-body>*{
	display: inline-block;
	vertical-align: top;
}
#floating-info-body>div{
	text-align: left;
}
#floating-ttime-control{
	position: relative;
}
#floating-ttime-control .form-control{
	height: 50px;
	font-size: 20px;
	padding: 7px 2px;
	text-align: center;
}
#floating-ttime-control .select-control{
	padding: 11.5px;
	margin-top: 0;
	top: 0;
}
#floating-ttime-control .counter-button-time img{
	width: 20px;
	height: 20px;
}
#floating-time{
	width: 20%;
	min-width: 150px;
	margin: 11px 15px;
	text-align: left;
}
#floating-time>p{
	padding-bottom: 5px;
}
#floating-promotion{
	display: none;
	margin-top: -10px;
	margin-left: 5px;
}
#floating-price{
	margin: 18px 10px;
	text-align:left;
	width: 30%;
	min-width: 300px;
}
#floating-price> #floating-price-info >*{
	display: inline-block;
}
#floating-price> #floating-price-info .comment{
	font-family: 'NanumSquareOTFB';
  	font-size: 16px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
	color: rgb(39,39,39);
	color: rgba(39, 39, 39, 0.6);
	margin-right: 5px;
	margin-left: 5px;
}
#floating-price>div:last-child h3{
	font-family: 'NanumSquareOTFB';
  	font-size: 36px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
	color: rgb(39, 39, 39);
	margin:5px;
	margin-bottom: 0;
}
#floating-base-price,
#floating-add-price{
	margin-top: 1px;
}
#floating-price>div:last-child #floating-total-price{
  	font-size: 36px;
  	font-family: NanumSquareOTFBold;
	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	color: rgb(255, 88, 89);
}
#btn-floating{
	min-width: 150px;
	max-width: 200px;
	width: 15%;
	margin-top: 11px;
	border-radius: 8px;
  	background-color: rgb(255, 88, 89);
}
#div-title>p{
	padding-top: 15px;
	padding-bottom: 15px;
}
#div-date{
	margin: 0 auto;
}
.div-title>h3{
	margin: 0;
	padding-bottom: 20px;
	color: #272727;
	font-family: 'NanumSquareOTFB';
  	font-size: 22px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
}
#r-calendar{
	top: 155px;
}
#input-date,
#select-time,
#select-ctype{
	padding-left: 22px;
	margin-bottom: 10px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}
.input-group .dateinput{
	width: 100%;
}
.input-group-addon{
	padding: 34px 23.5px;
	width: 100px;
	background-color: rgb(95, 102, 116);
	pointer-events: none;
}
#div-input-date{
	position: relative;
}
#input-date-addon{
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 3;
    border: 0;

}
#input-time-addon{
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 4;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 56.5px 60.5px;
}
#input-date-addon i img{
	width: 32px;
	height: 30px;
}
select{
	-webkit-appearance: none;
	appearance:none;
}
select::-ms-expand {
    display: none;
}
#input-ctype-addon{
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 4;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 42.5px 60.5px;
}
i.right {
    position: absolute;
    font-size: 18px;
    z-index: 1028;
    pointer-events: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}
.addon-box{
	position: relative;
}
i.right2,
i.right3,
i.right4 {
    position: absolute;
    font-size: 18px;
    right: 20px;
    bottom: 35px;
    z-index: 1028;
    pointer-events: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}
option:hover {
    background-color: #ff5859;
    color: #fff;
}
.cc-selector input:active +.check-cc{opacity: .9;}

.cc-selector input:checked +.check-cc{
    -webkit-filter: none;
       -moz-filter: none;
        -ms-filter: none;
            filter: none;
    color: #fff;
}
.check-cc{
	font-family: 'NanumSquareOTFB';
	font-weight: 400;
	color: #272727;
  	background-color: #ff5859;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
        -ms-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(2.4) grayscale(1) opacity(.7);
       -moz-filter: brightness(2.4) grayscale(1) opacity(.7);
        -ms-filter: brightness(2.4) grayscale(1) opacity(.7);
            filter: brightness(2.4) grayscale(1) opacity(.7);
}
.check-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(1) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(1) opacity(.9);
        -ms-filter: brightness(1.2) grayscale(1) opacity(.9);
            filter: brightness(1.2) grayscale(1) opacity(.9);
}
#div-date,
#div-hinfo,
.div-radio
{
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

#div-hinfo > .div-title > div:nth-child(2){
	margin-bottom: 60px;
}
#div-time{
	width: 100%;
	margin:0 auto;
}
.date-item{
	width: 19.2%;
	height: 100px;
	text-align: center;
	border-radius: 8px;
	line-height: 100px;
	margin-bottom: 10px;
  	font-size: 34px;
  	color: #272727;
  	background-color: #ff5859;
	font-family: 'NanumSquareOTFB';
}
.select-option > .select-control {
    position: absolute;
    font-size: 18px;
    padding: 32px 24px;
    z-index: 2;
    background: #eeeef1;
    color: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.select-option > .select-control:hover{
	background-color: #ff2021;
	border: solid 1px #ff2021;
	-webkit-filter: brightness(2.4);
       -moz-filter: brightness(2.4);
        -ms-filter: brightness(2.4);
            filter: brightness(2.4);
}
.select-option > .select-control.disabled {
    background: #fff;
    -webkit-filter: opacity(0.3);
       -moz-filter: opacity(0.3);
        -ms-filter: opacity(0.3);
            filter: opacity(0.3);
}
.select-option > .select-control.disabled:hover {
    background: #fff;
    border: solid 2px #e9e9eb;
    -webkit-filter: opacity(0.3);
       -moz-filter: opacity(0.3);
        -ms-filter: opacity(0.3);
            filter: opacity(0.3);
    cursor: not-allowed;
}
.select-option > .select-control.left {
    left: 0px;
    top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.select-option > .select-control.right {
    right: 0px;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.service-item{
	width: 100%;
	max-width: 450px;
	height: 100px;
	text-align: center;
	border-radius: 8px;
	line-height: 100px;
  	font-size: 34px;
  	color: #272727;
  	background-color: #ff5859;
  	font-weight: normal;
	font-family: NanumSquareOTFB;
}
.dirty-item{
	width: 48%;
	height: 100px;
	text-align: center;
	border-radius: 8px;
	line-height: 100px;
  	font-size: 34px;
  	color: #272727;
  	margin: 0.4%;
  	background-color: #ff5859;
	font-family: 'NanumSquareOTFB';
}
.check-disabled{
	font-family: 'NanumSquareOTFB';
	font-weight: 400;
	color: #d2d2d8;
	background-color: #fff;
	border: solid 1px #d8d8dd;
}
.additional-item{
	width: 31.3%;
	height: 130px;
	margin: 1%;
	text-align: center;
	border-radius: 8px;
	line-height: 25px;
	vertical-align: middle;
  	font-size: 18px;
}

.additional-item>p:nth-child(1){
	margin: 0;
	margin-top: 40px;
}
.additional-item>p{
	margin: 0;
	vertical-align: middle;
}
#addreq-div > label:nth-child(5) > p:nth-child(1),
#addreq-div > label:nth-child(7) > p:nth-child(1){ /*냉장고들 margin-top*/
	margin-top: 30px;
}
#addreq-div{
	width: 100%;
	margin:0 auto;
	margin-top: 60px;
}
.btn{
	margin-top: 50px;
  	width: 245px;
  	height: 85px;
  	border-radius: 42.5px;
  	font-family: NanumSquareOTFB;
  	font-size: 26px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.8;
  	text-align: center;
}
.btn-next{
	background-color: #4d535e;
	color: #ffffff;
}
.btn-confirm{
	background-color: #ff5859;
	color: #ffffff;
}
.btn-confirm:hover,
.btn-next:hover{
	opacity: 0.6;
	color: #fff;
	text-decoration: none;
}
.input-sm{
	max-width: 143px;
	width: 13%;
	height: 100px;
}
#div-calc>h3{
	padding-bottom: 28px;
}
.div-total-price .row>div{
	width: 49%;
}
#div-recommended-time{
	border-top: 1px solid #d8d8de;
	padding-top: 25px;
	padding-bottom: 20px;
}
#div-recommended-time h3,
.div-total-price h3{
	padding-top: 5px;
	padding-left: 10px;
}
.div-total-price h2{
	padding-right: 10px;
	font-family: NanumSquareOTFB;
  	font-size: 36px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
}
#div-total-price-promotion{
	display: none;
}
.div-total-price > #div-total-price-row2{
	margin-bottom: -15px;
}
.div-total-price .price-sub h3{
	font-family: NanumSquareOTFB;
  	font-size: 16px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
}
.div-total-price .price-sub h2{
	font-family: NanumSquareOTFB;
  	font-size: 18px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	padding-top: 7px;
}
.div-total-price{
	border-top: 1px solid #d8d8de;
	border-bottom: 1px solid #d8d8de;
	padding-top: 27px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
#div-notice{
	padding-top: 28px;
}
#div-notice p{
	font-size: 16px;
	font-weight: 300;
	margin-left: 10px;
}
#next-reserv{
	margin-top: 45px;
}
#value-agree{
	width: 35px;
	height: 35px;
	margin: 5px;
	background-image: url("../img/reserv/unchecked.png");
	background-size: contain;
	cursor: pointer;
}
#value-agree.checked{
	background-image: url("../img/reserv/checked.png");
}
#nreserv > #content-body{
	padding-bottom: 80px;
}
/*****************/
/*****************/
/*****************/
/***reserv_info***/
/*****************/
/*****************/
/*****************/

#nreserv-info > #content-body{
	padding-top: 60px;
	padding-bottom: 60px;
}
/**"현재 서울시, 성남시 분당구 전지역에서만
서비스 이용이 가능합니다." 문구 박스*/
.info-div div{
	max-width: 564px;
	width: 100%;
	margin: 0 auto;
}
.info-div{
	padding-top: 5px;
	padding-bottom: 5px;
}
.info-div input,
.info-div textarea{
	width: 450px;
	margin: 0 auto;
}
.info-div label{
	width: 110px;
	margin: 0 auto;
	font-family: NanumSquareOTFB;
  	font-size: 25.9px;
  	font-weight: 300;
  	line-height: 1.35;
  	padding-top: 32px;
  	text-align: left;
}
/* 주소 선택 */
#info-address{
	max-width: 450px;
	width: 75%;
	position: relative;
}
#info-address div:nth-child(1),
#info-address div:nth-child(2){
	margin-bottom: 10px;
	position: relative;
}
#info-address .address-item{
	width: 223px;
	height: 70px;
	text-align: center;
}
#input-address-addon {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 4;
    background-color: transparent;
    border: 1px solid transparent;
}
/*레이블 - 주소*/
#reserv_info .info-div:nth-child(2) label,
#reserv_info .info-div:nth-child(4) label{
	padding-top: 20px;
}
#reserv_info .info-div:nth-child(8) label{
	padding-top: 18px;
}
.info-div .row h3{
	font-size: 21.6px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.47;
  	padding:25px 30px; margin:0;
}
span.addon-box{
	position: relative;
}
#row001{
	width: 450px;
	margin: 0 auto;
	padding-left: 60px;
	padding-top: 10px;
}
#row001>h4{
	line-height: 1.47;
}
#row002{
	margin: 0 auto;
	background-image: url("../img/reserv/img-bg-002.png");
	background-size: contain;
	-webkit-background-position: center;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center;
	-webkit-background-position: center;
	max-width: 560px;
    min-height: 120.5px;
    max-height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
#row002>h4{
	padding:0 30px;
	padding-top: 7%;
	line-height: 1.47;
}
#div-reception{
	padding-top: 80px;
	padding-bottom: 45px;
}

/*****************/
/*****************/
/*****************/
/*****payment*****/
/*****************/
/*****************/
/*****************/
#pay_info{
	padding-top: 60px;
}
#card_info .info-div{
	text-align: left;
}
#card-m,
#card-y{
	text-align: right;
}
#card_info > .info-div .input-sm{
	width: 17%;
	margin-right: 7px;
}
#pw-sub{
	font-size: 15px;padding: 40px;margin-left: -30px;
}

/*****************/
/*****************/
/*****************/
/*****success*****/
/*****************/
/*****************/
/*****************/
#div-success-body h1{
	font-family: NanumSquareOTFB;
  	font-size: 63px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.16;
  	color: #272727;
  	margin-top: 35px;
  	margin-bottom: 30px;
}
#div-success-body h3{
	font-size: 30px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
}
/*****************/
/*****************/
/*****************/
/**check_reserv***/
/*****************/
/*****************/
/*****************/
#div-check{
	margin-top: 43px;
	padding-top: 45px;
	padding-bottom: 45px;
	border-top: 1px solid rgb(216, 216, 222);
	border-top: 1px solid rgba(216, 216, 222, 0.5);
	border-bottom: 1px solid rgb(216, 216, 222);
	border-bottom: 1px solid rgba(216, 216, 222, 0.5);
}
/*****************/
/*****************/
/*****************/
/******select*****/
/*****************/
/*****************/
/*****************/
#div-select{
	padding-top: 138px;
	padding-bottom: 160px;
}
.btn-select{
	width: 49%;
	max-width: 358px;
	padding: 0.5%;
}
.btn-select a{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.btn-select img{
	width: 100%;
}
.btn-select img:hover{
	opacity: 0.7;
}
/*****************/
/*****************/
/*****************/
/****cleanings****/
/*****************/
/*****************/
/*****************/
	#body-cleanings > #content-body{
		margin-top: 60px;
		margin-bottom: 80px;
	}
	.item-thumbnail .portrait {
	    max-width:100%;
	    height: auto;
	}
	.item-thumbnail .landscape {
	    max-height:100%;
	    width: auto;
	}

	.slideNext{
	  	top: 300px;
	    right:-75px;
	    position:absolute;
	    cursor:pointer;
	    color:#6e6e6e;
	  }
	  .slidePrev{
	  	top: 300px;
	    left:-75px;
	    position:absolute;
	    cursor:pointer;
	    color:#6e6e6e;
	  }
	  .slideNext:hover,
	  .slideNext:focus,
	  .slideNext:active,
	  .slidePrev:hover,
	  .slidePrev:focus,
	  .slidePrev:active{
	  	color: #bcbcbc;
	  }
	#body-cleanings .lSSlideOuter .lSPager.lSpg{
	  	display: block;
	  }
  	#div-slider{
		max-width: 550px;
		width: 100%;
		margin: 0 auto;
	}
	.slider-item{
		height: 430px;
		background: #fff;
	}
	.div-slider-item{
		width: 95%;
		height: 100%;
		margin-left: 2.5%;
		padding: 20px;
		border: 2px solid rgb(233, 233, 235);
		border-radius: 8px;
	}
	.item-header{
		padding-top: 5px;
		padding-bottom: 25px;
	}
	.item-header >img{
		margin-bottom: 16px;
	}
	.item-header >h2{
		padding-bottom: 5px;
	}
	.item-body{
		margin: 0 15%;
		padding-top: 30px;
		border-top: 2px solid rgb(233, 233, 235);
	}
	.item-body .item-font{
		width: 100%;
	}
	.item-body-time .item-font h3:first-child,
	.item-body-addreq .item-font h3:first-child,
	.item-body-price .item-font h3:first-child{
		float: left;
		padding-top: 7px;
		padding-bottom: 7px;
		font-family: NanumSquareOTFB;
		font-size: 18px;
		font-weight: 300;
		color: rgb(39, 39, 39);
	}
	.item-body-time .item-font h3:last-child,
	.item-body-addreq .item-font h3:last-child,
	.item-body-price .item-font h3:last-child{
		float: right;
		padding-top: 7px;
		padding-bottom: 7px;
		font-family: NanumSquareOTFBold;
		font-size: 18px;
		font-weight: normal;
		color: rgb(39, 39, 39);
	}
	.lSAction .lSPrev,
	.lSAction .lSNext{
		-webkit-filter: brightness(2.4) grayscale(1) opacity(.7);
       	-moz-filter: brightness(2.4) grayscale(1) opacity(.7);
       	-ms-filter: brightness(2.4) grayscale(1) opacity(.7);
        filter: brightness(2.4) grayscale(1) opacity(.7);
	}
	#div-btn-cleaning>a{
		margin-left: 5px;
		margin-right: 5px;
	}
	#div-slider .lSAction > a{
		background-image: url("./addon/images/controls-grey.png")
	}
	#cleanings-comment{
		padding-top: 30px;
	}
	#cleanings-comment h4{
		line-height: 1.5;
		word-break: keep-all;
	}
/*****************/
@media only screen and (max-width:767px){
	#regular_type{
		padding-top: 0;
	}
	#floating-info{
		display: none;
	}
	#floating-info-body{
		padding: 0;
	}
	#floating-info-body>div {
	    width: 100%;
	    text-align: center;
	}
	#floating-price{
		margin: 0;
		padding-top: 20px;
		padding-left: 15px;
		width: 50%;
		float: left;
		min-width: 0;
	}
	#floating-price div{
		padding-right: 7px;
	}
	#floating-price>#floating-price-info >*{
		display: block;
	}
	#floating-price>div:last-child h3{
		font-size: 16px;
	}
	#floating-base-price,
	#floating-add-price,
	#floating-total-price{
		float: right;
	}
	#floating-price>div:last-child #floating-total-price{
		font-size: 16px;
	}
	#floating-time{
		margin: 0;
		padding-top: 20px;
		padding-right: 20px;
		width: 50%;
		float: right;
	}
	#btn-floating{
		height: 60px;
		max-width: 100%;
		width: 100%;
		padding: 0;
		border-radius: 0px;
		bottom: 0;
	}
	#div-reception{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	#input-date{
		width: 100%;
		max-width: 100%;
	}

	.info-div label{
		font-size: 20px;
		width: 22%;
	}
	.info-div span.addon-box{
		width: 75%;
	}
	.info-div span.addon-box input{
		width: 100%;
	}
	.info-div input,
	.info-div textarea{
		width: 75%;
		font-size: 20px;
	}
	#info-address{
		max-width: 75%;
	}
	#info-address .address-item {
	    width: 49%;
	}
	#info-address textarea{
		width: 100%;
	}
	#kind_address{
		font-size: 24px;
	}
	.info-div input{
		height: 80px;
	}
	.info-div .input-sm{
		width: 18%;
	}
	#row001{
		width: 75%;
		margin-left: 22%;
		padding-left: 20px;
	}
	h4{
		font-size: 16px;
	}
	#pay_info{
		padding-top: 0px;
	}
	#div-success-body h1{
		font-size: 50px;
	}
	.slideNext,
	.slidePrev{
		display: none;
	}
}
@media only screen and (max-width:500px){
	.modal-body .m-body-h1 > h1{
		font-size: 20px;
	}
	.modal-body .m-body-p{
		font-size: 12px;
		padding: 0 10px;
	}
	.modal-btn{
		font-size: 14px;
	}
	#regular_type > .div-radio > h3{
		font-size: 16px;
	}
	#div-title>p {
	    padding-top: 6px;
	    padding-bottom: 6px;
	}
	.title-once >p,
	.title-regular>p{
		font-size: 16px;
	}
	.service-item{
		width: 300px;
	}
	#nreserv > #content-body{
		padding-bottom: 20px;
	}
	#nreserv-info > #content-body{
		padding-top: 20px;
		padding-bottom: 40px;
	}
	#div-date, #div-hinfo, .div-radio, #addreq-div{
		margin-top: 40px;
	}
	#div-hinfo > .div-title > div:nth-child(2){
		margin-bottom: 40px;
	}
	.form-control{
		height: 60px;
		padding: 5px 12px;
		font-size: 18px;
		line-height: 20px;
		font-family: NanumSquareOTFBold;
		font-weight: normal;
	}
	#nreserv .div-title{
		text-align: left;
	}
	.counter-label{
		line-height: 46px;
		text-align: center;
	}
	.input-group-addon {
    	padding: 14px 0;
    	width: 70px;
    }
    .select-option{
    	height: 60px;
    }
    .select-option > .select-control{
    	padding: 16.5px;
    }
    .select-control img{
    	width: 20px;
    	height: 20px;
    }
    .date-item{
		width: 19%;
    	height: 60px;
    	line-height: 60px;
    	font-size: 24px;
    }
    #input-time-addon,
    #input-ctype-addon{
    	padding: 18px;
    	bottom: inherit;
    	right: 10px;
    }
	#r-calendar{
		width: 100%!important;
		top: 105px;
	}
	#r-calendar table{
		margin: 0 auto;
		text-align: center;
	}
	#r-calendar td{
		font-size: 18px;
		padding: 9px;
	}
	#r-calendar>p{
		margin:7px 15px;
	}
	.item-body-time .item-font h3:first-child,
	.item-body-addreq .item-font h3:first-child,
	.item-body-price .item-font h3:first-child,
	.item-body-time .item-font h3:last-child,
	.item-body-addreq .item-font h3:last-child,
	.item-body-price .item-font h3:last-child{
		font-size: 15px;
	}
	.item-body{
		margin: 0 1%;
		padding-top: 20px;
		border-top: 2px solid rgb(233, 233, 235);
	}
	.dirty-item{
		height: 60px;
		line-height: 60px;
		font-size: 18px;
	}
	.additional-item{
		padding-left: 0;
		padding-right: 0;
		line-height: 22px;
		height: 105px;
	}
	.additional-item>p{
		font-size: 14px;

	}
	#addreq-div > label:nth-child(5) > p:nth-child(1),
	#addreq-div > label:nth-child(7) > p:nth-child(1){ /*냉장고들 margin-top*/
		margin-top: 18px;
	}
	.additional-item>p:nth-child(1) {
	    margin: 0;
	    margin-top: 28px;
	}
	.div-total-price h2{
		font-size: 24px;
		padding-top: 2px;
	}
	.div-total-price .price-main h3,
	.div-total-price .price-main h2{
		font-family: NanumSquareOTFBold;
		font-weight: normal;
	}
	.div-total-price .price-sub h3{
		font-size: 12px;
	}
	.div-total-price .price-sub h2{
		font-size: 14px;
		padding-top: 2px;
	}

	.div-title>h3{
		font-size: 16px;
		padding-bottom: 18px;
	}
	.div-title h4{
		font-size: 16px;
	}
	#value-agree{
		width: 30px;
		height: 30px;
		margin-top: 2px;
		margin-right: 1px;
	}

	.info-div input{
		height: 60px!important;
	}
	.info-div input, .info-div textarea {
	    font-size: 18px!important;
	}
	#info-address .address-item {
	    max-width: 49%;
	    height: 50px;
	    text-align: center;
	}
	.info-div label{
		font-size: 14px!important;
		line-height: 1;
		padding-top: 23px;
		max-width: 60px;
	}
	#kind_address{
		font-size: 16px;
	}
	i.right img{
		width: 17px;
		height: 9px;
	}
	i.right2,
	i.right3,
	i.right4 {
	    bottom: 18px;
	}
	i.right2 img,
	i.right3 img,
	i.right4 img{
	    width: 18px;
	    height: 18px;
	}
	#div-notice p{
		font-size: 12px;
	}
	#row001{
		padding-left: 10px !important;
	}
	#row001>h4{
		font-size: 12px;
	}
	#row002{
		min-height: 0;
		background-size: cover;
		-webkit-background-size:cover;
		    background-position: initial;
    	-webkit-background-position: initial;
	}
	#row002>h4{
		padding: 0 10px;
		padding-top: 20px;
   		padding-bottom: 25px;
		font-size: 12px;
	}
	#body-card-info > #content-body{
		padding-top: 30px;
		padding-bottom: 60px;
	}
	#card_info > .info-div .input-sm{
		width: 62px!important;
		margin-right: 0;
	}
	#card_info > .info-div input{
		font-size: 15px!important;
		width: 77%;
	}
	#card_info >.info-div label{
		padding-top: 25px;
	}
	#pw-sub{
		font-size: 14px;padding: 20px;margin-left: -10px;
	}
	#div-select{
		padding-top: 120px;
		padding-bottom: 130px;
	}
	#div-check{
		margin-bottom: 0;
	}
	#body-cleanings > #content-body{
		margin-top: 30px;
		margin-bottom: 80px;
	}
	#div-btn-cleaning>a:last-child{
		margin-top: 10px;
	}
	#div-btn-cleaning>a{
		margin-left: 0px;
		margin-right: 0px;
	}
	#div-success-body h1{
		font-size: 30px!important;
	}
	#div-success-body h3{
		font-size: 18px!important;
	}
	.slider-item{
		height: 400px;
		background: #fff;
	}
	.item-header >h2{
		font-size: 24px;
	}
	.item-header >h3{
		font-size: 20px;
	}
}


@media only screen and (min-width:768px){
	.lSAction .lSPrev,
	.lSAction .lSNext{
		display: none;
	}
	.modal-dialog{
		width: 700px;
	}
}
@media only screen and (min-width:768px) and (max-width:878px){
	#floating-info-body {
	    padding-left: 0%;
	}
}
@media only screen and (min-width:879px) and (max-width:990px){
	#floating-info-body {
	    padding-left: 3%;
	}
}
@media only screen and (min-width:1366px){
	#floating-info-body>div {
	    text-align: left;
	    width: 100%;
	}
}
